$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light: hsl(206, 94%, 87%);
$Strawberry: hsl(354, 84%, 57%);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./check-box";
@import "./check-box2";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: $Magnolia;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 180%;
    color: $Marine-blue;
    margin-bottom: 1rem;
} 

.paragraph {
    color: $Cool-gray;
    margin-bottom: 2rem;
}

.buttondiv {
    display: flex;
    justify-content: space-between;
}


.btn {
    cursor: pointer;
    border: none;
    font-weight: 700;
    border-radius: 10px;   
    font-size: 110%;
    
}

.btn-blue {
    padding: .8rem 1.6rem;
    color: $Magnolia;
    background-color: $Marine-blue;
}

.btn-gray {
    color: $Cool-gray;
    background: none;
}

.check {
    background: $Light-gray;
    padding: .6rem;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    input {
        margin: 0 1rem;
    }
}

.card-title {
    color: $Marine-blue;
    margin-top: 2;
}


.tab {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    height: 502px;
    width: 480px;
    padding: 2rem 4.5rem;
    display: none;
   label {
    color: $Marine-blue;
    margin-bottom: .6rem;
   }

   .input {
    display: flex;
    flex-direction: column;
   }

   input {
    padding: .8rem .4rem;
    margin-bottom: 1rem;
    border-radius: 5px;
   border: solid 1px $Light-gray;
    &::placeholder {
        color: $Cool-gray;
        font-weight: 700;
    }
   }
}  

  /* Mark the active step: */   
  .number.active {
    background: $Light;
    color: $Marine-blue;
    opacity: 1;
  }
  
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    opacity: .5;
  }

  .container {
    display: flex;
    position: relative;
    height: 541px;
    width: 725px;
    background-color: $White;
    padding: 1rem;
    border-radius: 10px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    #steps {
        background: url('../images/bg-sidebar-desktop.svg') center center / cover ;
        padding: 2.5rem;
        border-radius: 10px; 
       
    }
  }

  .step {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
   
    span {
        font-size: 90%;
        border-radius: 1000%;
        border: solid 1px $White;
        padding: .8rem;
        color: $White;
        margin-right: .8rem;
        transition: all 300ms ease-in-out;
        &:hover {
            background: $Light;
            color: $Marine-blue;
            cursor: pointer;
        }
    }
    h3 {
        font-weight: 300;
        font-size: 90%;
        color: $Light-gray;
    }
    p {
        font-weight: 700;
        font-size: 100%;
        color: $White;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .card {
        border: solid 1px $Cool-gray;
        padding: 1rem;
        flex: 1;
        border-radius: 10px;
        &:not(:last-of-type) {
            margin-right: .8rem;
        }   
        img {
            display: block;
            margin-bottom: 4rem;
        }
    }
}

.wrap {
    background-color: $Alabaster;
    padding: 1.5rem;
    border-radius: 15px;
    color: $Cool-gray  ;
}

.add-ons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: solid 1px $Light-gray;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.end {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    .price span {
        display: block;
        }
    }

.add  {
    span {
        display: block;
    }
}
.total {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    p {
        color: $Purplish-blue;
        font-weight: 700;
        font-size: 150%;
    }
}

.thanks {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
        margin: 1.8rem;
    }
}